.backgroundImage {
  background-image: url('/src/assets/background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;

  height: 1038px;
}

.mainText {
  color: rgb(255, 255, 255);
  font-family: Garamond;
  font-size: 72px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 260px;
}
.tip {
  color: rgb(255, 255, 255);
  font-family: Cormorant Garamond;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 293px;
}

.cavstyle {
  margin-top: 120px;
  width: 80px;
  height: 64px;
}
.description {
  color: rgb(255, 255, 255);
  font-family: Cormorant Garamond;
  font-size: 27px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 532px 0 532px;
  margin-top: 60px;
  width: 856px;
}
.cardsMenu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 140px;
  column-gap: 0px;
  margin-top: 95px;
  justify-content: center;
}

.icons {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 250px;
  margin-right: 250px;
  gap: 190px;
  opacity: 0.5;
}
.works span {
  color: rgb(255, 255, 255);
  font-family: Garamond;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto 0 auto;
}
.works h2 {
  color: rgb(255, 255, 255);
  font-family: Cormorant Garamond;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
}
.worksmenu {
  margin-top: 80px;
  display: flex;
  gap: 60px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.works {
  margin-top: 168px;
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
}
.examples {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 24px; /* Расстояние между изображениями */
  justify-content: center;
}
.example {
  height: auto;
  width: auto;
}
