@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  padding: 0px;
  margin: 0px;
  border: none;
}
.backgroundImage {
  background-image: url('/src/background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  flex-direction: column;
  /* height: 100vh; */

  height: 1038px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 30px 0;
  /* margin: 0 312px 0 312px; */
  border-bottom: 1px solid rgb(255, 255, 255);
  opacity: 0.5;
  width: 1296px;
}

.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Cormorant Garamond';
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
}

.navbar a:hover {
  color: #aaa; /* Цвет ссылок при наведении */
}
.mainText {
  color: rgb(255, 255, 255);
  font-family: Garamond;
  font-size: 72px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 260px;
}
.tip {
  color: rgb(255, 255, 255);
  font-family: Cormorant Garamond;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 293px;
}
.description {
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.cavstyle {
  margin-top: 120px;
  width: 80px;
  height: 64px;
}
.description p {
  color: rgb(255, 255, 255);
  font-family: Cormorant Garamond;
  font-size: 27px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 532px 0 532px;
  margin-top: 60px;
  width: 856px;
}
.cardsMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-top: 95px;
}
.cardMenu {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.cardspart {
  display: flex;
  align-items: center;
  gap: 44px;
}

.cardsMenu span {
  color: rgb(255, 255, 255);
  font-family: Garamond;
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;

  align-self: start;
  margin-top: 50px;
  margin-left: -20px;
}
.imgcard {
  position: relative;
  left: -20px;
  top: 20px;
  width: 396px;
  height: 300px;
}
.bordMenu {
  border: 1px solid rgb(205, 170, 125);
  width: 396px;
  height: 300px;
}
.icons {
  margin-top: 162px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 190px;
  opacity: 0.5;
}
.works span {
  color: rgb(255, 255, 255);
  font-family: Garamond;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto 0 auto;
}
.works h2 {
  color: rgb(255, 255, 255);
  font-family: Cormorant Garamond;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
}
.worksmenu {
  margin-top: 80px;
  display: flex;
  gap: 60px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.works {
  margin-top: 168px;
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
}
.examples {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 24px; /* Расстояние между изображениями */
}
.mainstring {
  color: rgb(255, 255, 255);
  font-family: Garamond;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  padding-bottom: 25px;
}
footer span {
  color: rgb(255, 255, 255);
  font-family: Cormorant Garamond;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 15px;
}
footer {
  margin-top: 100px;
  display: flex;
  gap: 100px;
  border-top: 1px solid rgb(255, 255, 255, 0.5);
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);

  height: 313px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.subfooter {
  display: flex;
  flex-direction: column;
}
.omega2 {
  width: 60px;
  height: 58.02px;
}
.copyright {
  margin: 30px 0 30px 0;
  color: rgb(255, 255, 255);
  font-family: Cormorant Garamond;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.5;
}
