/* NotFoundPage.css */
.not-found-container {
  height: 300px;
  text-align: center;
  margin-top: 400px;
  margin-bottom: 300px;
}

.NotFoundh1 {
  font-size: 36px;
  color: #333;
}

.NotFoundp1 {
  font-size: 18px;
  color: #666;
}
